*DS_Store
/database_files/*
/app/.idea/*
/app/__pycache__/*
/app/.vscode/*
/app/test.db-shm
/app/test.db-wal
/app/test.db
.vscode/*
blog_post/*
test_files/*
/app/test_files/*
/app/test_file_unpack.py
